<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Roommates</title>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
		<link rel="stylesheet"type="text/css" href="/stylesheets/roommates.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css"/>
	</head>

	<body>
		<%- include('partials/nav.ejs') %>
        
	</body>
</html>
