<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />
    <title>profile</title>
</head>
<body>
    <header>
        <img class="logo" src="images/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/homepage">Buy</a></li>
                <li><a href="/new-listing">Sell</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/findroommate">Find Roommates</a></li>
            </ul>
        </nav> 
        
        <div class="dropdown">
            <button class="dropbtn"><%=full_name%> 
              <i class="arrow down"></i>
            </button>
            <div class="dropdown-content">
                <a href='/profile'>View Profile</a>
                <a id="logout" href='/logout'>Log Out</a>
            </div>
        </div>
    </header>
    
    <form action="/edit-profile" method="POST">
        <dl>
            <dt>Full Name:</dt>
            <dd><input type="text" name="full_name" value = "<%= full_name %>" placeholder="Enter full name" id ="full_name" required></dd>
            <dt>Email:</dt>
            <dd><input type="text" name="email" value = "<%= email %>" placeholder="Enter email" id = "email" required></dd>
            <dt>Password:</dt>
            <dd><input type="text" name="password" value = "<%= password %>" placeholder="Enter password" id ="password" required></dd>
        </dl>
        <p>
            <input type="submit" value = "Update User Details">
        </p>
    </form>

	<a href="/profile">Cancel editing profile</a>
</body>
</html>