<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/search.css" />
	<title>Search</title>
</head>
<body>
    <header>
        <img class="logo" src="/images/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/homepage">Home</a></li>
                <li><a href="/filter/search">Buy</a></li>
                <li><a href="/listing/new-listing">Sell</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/findroommate">Find Roommates</a></li>
            </ul>
        </nav> 
        
        <div class="dropdown">
            <button class="dropbtn"><%=full_name%> 
              <i class="arrow down"></i>
            </button>
            <div class="dropdown-content">
                <a href='/profile'>View Profile</a>
                <a id="logout" href='/logout'>Log Out</a>
            </div>
        </div>
    </header>

	<div class="container">
        <div class = "search-form">
			<form action="/filter/search" method="post">
				<label>Country</label>
				<input type="text" name="country" placeholder="Canada">
				<label>City</label>
				<input type="text" name="city" placeholder="Vancouver">
				<button type="submit">Search</button>
			</form>
    	</div>
    </div>
</body>
</html>