<!DOCTYPE html>
<html lang="en">
	<head>
		<title>View Listing</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/view-listing.css" />
	</head>
	<body>
		<h3>Listing <%= listing.listingid%></h3>
		<h4>Bathrooms <%= listing.bathrooms%></h3>

	</body>
</html>
